<% @calculators.each do |calculator| %>
  <%= form_for calculator, method: :patch do |f| %>

    <% calculator_width ||= calculator.width %>
    <div>
      <table border="1">
        <thead>
          <tr>
            <td style="background-color: rgb(188, 188, 188);"></td>
            <% calculator_width.times do |col| %>
              <td style="background-color: rgb(188, 188, 188);"><%= Calculator::ALPHABET[col] %></td>
            <% end %>
          </tr>
        </thead>
        <tbody>



            <% calculator.cells.values.each_slice(calculator_width).with_index do |row, row_number| %>
              <tr>
                <td style="background-color: rgb(188, 188, 188);"><%= row_number = row_number + 1 %></td>
                <% row.each_with_index do |value, col_number| %>
                  <% location = [Calculator::ALPHABET[col_number], row_number].join %>
                  <td>
                    <input type="text" name="calculator[cells][<%= location %>]" value="<%= calculator.cells[location] %>">
                  </td>
                <% end %>
              </tr>
            <% end %>

        </tbody>
      </table>
    </div>

    <div class="actions">
      <%= f.submit 'Save' %>
    </div>
  <% end %>

<% end %>