<% if @calculator.present? %>
  <!-- errors partial -->
  <% if @calculator.errors.any? %>
    <div class="has-error">
      <div class="help-block">
        <h2><%= pluralize(@calculator.errors.count, "Error") %>:</h2>
        <ul>
          <% @calculator.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <!-- form partial -->
  <div id="calculator">
    <%= render partial: 'calculator', locals: { calculator: @calculator } %>
  </div>

<% else %>
  <!-- new calculator partial -->
  <h2>New spreadsheet</h2>
  <%= form_for Calculator.new, method: :create do |f| %>
    <div class="form-group">
      <label for="width">Width</label>
      <input type="text" name="width" placeholder="Number of columns">
      <label for="height">Height</label>
      <input type="text" name="height" placeholder="Number of rows">
    </div>
    <div class="form-group">
      <%= f.submit 'Create', class: 'btn btn-default' %>
    </div>
  <% end %>
<% end %>