<% if @calculator.present? %>

  <!-- errors partial -->
  <% if @calculator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calculator.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
        <% @calculator.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- form partial -->
  <%= form_for @calculator, method: :patch do |f| %>

    <% calculator_width ||= @calculator.width %>
    <div>
      <table border="1">
        <thead>
          <tr>
            <td style="background-color: rgb(188, 188, 188);"></td>
            <% calculator_width.times do |col| %>
              <td style="background-color: rgb(188, 188, 188);"><%= Calculator::ALPHABET[col] %></td>
            <% end %>
          </tr>
        </thead>
        <tbody>



            <% @calculator.cells.values.each_slice(calculator_width).with_index do |row, row_number| %>
              <tr>
                <td style="background-color: rgb(188, 188, 188);"><%= row_number = row_number + 1 %></td>
                <% row.each_with_index do |value, col_number| %>
                  <% location = [Calculator::ALPHABET[col_number], row_number].join %>
                  <td>
                    <input type="text" name="calculator[cells][<%= location %>]" value="<%= @calculator.cells[location] %>">
                  </td>
                <% end %>
              </tr>
            <% end %>

        </tbody>
      </table>
    </div>

    <div>
      <%= f.submit 'Save' %>
      <%= link_to 'New spreadsheet', @calculator, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>

<% else %>
  <!-- new calculator partial -->
  <h2>New spreadsheet</h2>

  <%= form_for Calculator.new, method: :create do |f| %>

    <label for="width">
      <input type="text" name="width" placeholder="Number of columns">
    </label>

    <label for="height">
      <input type="text" name="height" placeholder="Number of rows">
    </label>

    <div>
      <%= f.submit 'Save' %>
    </div>
  <% end %>

<% end %>